body {
    padding-top: 50px;
    padding-bottom: 20px;
}

blockquote {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 120%;
}

img {
    padding: 5px;
    box-shadow: 3px 3px 8px #222;
    margin-right: 10px;
    margin-bottom: 10px;
}




pre {
    margin-left: 20px;
}

pre.code {
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #363446;
    color: #A0A0A0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

pre.terminal {
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #363446;
    color: #DAD681;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

p,
li {
    font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #999;
    text-align: center;
}

.footer:hover{
    cursor: default;
    color: #fff;
}
.footer i{
    color: #999;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
}

.footer .fa-facebook:hover{
    color: #3b5998
}
.footer .fa-instagram:hover{
    color: #cd486b
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .footer {
        position: absolute;
        left: auto;
        bottom: auto;
    }
}
