body {
    padding-top: 50px;
    padding-bottom: 20px;
}

p,
li {
    font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #999;
    text-align: center;
}

.footer:hover {
    cursor: default;
    color: #fff;
}

.footer i {
    color: #999;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
}

.footer .fa-facebook:hover {
    color: #3b5998
}

.footer .fa-instagram:hover {
    color: #cd486b
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .footer {
        position: absolute;
        left: auto;
        bottom: auto;
    }
}

.formFile {
    width: 100%;
}

.formFile input[type="file"] {
    display: inline;
}

.alertContainer {
    position: fixed;
    bottom: 8%;
    right: 1%;
}

.alertContainer i {
    font-size: 30px;
}

.sombra {
    box-shadow: 0px 0px 2px 1px grey;
}

.fullpadding {
    padding: 10px 5px;
}

.fullmargin {
    margin: 5px 5px;
}

.filesContainer {
    margin: 15px 5px;
    background: #FAFAFA;
    min-height: 45vh;
    overflow-y: scroll;
}

.flexColumna {
    display: flex;
    flex-direction: column;
}

.paddinIzq {
    padding-left: 10px
}

.item {
    padding: 5px 15px;
    margin: 2px 5px;
    box-shadow: 0px 0px 1px 1px grey;
    border-radius: 5px;
    cursor: pointer;
}

.item:hover {
    box-shadow: 0px 0px 5px 1px grey;
    background: #fafafa;
}

.marginIzq {
    margin-left: 10px;
}

.bgBlanco {
    background: #fff;
}

.f5 {
    font-size: 5px;
}

.archivo {
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 0px 3px #000;
}

.carpeta {
    font-size: 25px;
    color: #fff8a7;
    text-shadow: 0px 0px 3px #000;
}

.nube {
    color: #c7d3df;
    font-size: 20px
}

.inline {
    display: inline;
}

.itemUrl {
    padding: 5px 4px;
    margin: 2px 4px;
    box-shadow: 0px 0px 1px 1px grey;
    border-radius: 3px;
    cursor: pointer;
}
