body {
    padding-top: 50px;
    padding-bottom: 20px;
}

p,
li {
    font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #999;
    text-align: center;
}

.footer:hover{
    cursor: default;
    color: #fff;
}
.footer i{
    color: #999;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
}

.footer .fa-facebook:hover{
    color: #3b5998
}
.footer .fa-instagram:hover{
    color: #cd486b
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .footer {
        position: absolute;
        left: auto;
        bottom: auto;
    }
}

.formFile{
    width: 100%;
}

.formFile input[type="file"] {
    display: inline;
}
