.fa-facebook:hover {
    color: #3b5998
}

.fa-instagram:hover {
    color: #cd486b
}

.button1 {
    display: inline-block;
    padding: 4px 3px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #c7d3df;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px #b4b4b4;
    user-select: none;
}


.button1:active {
    /*    background-color: #b4b4b4;*/
    box-shadow: 0 2px #b4b4b4;
    transform: translateY(1px);
}

.itemUrl {
    font-size: 12px;
    padding: 2px 2px 2px 2px;
    margin: 0px 3px 0px 3px;
    box-shadow: 0px 0px 1px 1px grey;
    border-radius: 3px;
    cursor: pointer;
}

.item {
    padding: 5px 2px 5px 10px;
    margin: 2px 5px;
    box-shadow: 0px 0px 1px 1px grey;
    border-radius: 5px;
}

.item * {
    font-size: 12px;
    word-break: break-all;
}

.noWBreak {
    word-break: keep-all !important;
}

.item:hover {
    box-shadow: 0px 0px 5px 1px grey;
    background: #fafafa;
}

.carpeta {
    font-size: 20px;
    color: #fff8a7;
    text-shadow: 0px 0px 3px #000;
}

.nube {
    padding: 0 3px;
    color: #c7d3df;
    font-size: 30px;
    cursor: pointer
}

.archivo {
    font-size: 15px;
    color: #000;
    text-shadow: 0px 0px 1px rgba(0, 255, 78, 0.18);
}

.imgView {
    width: 100%;
    max-height: 80vh
}


.areaEdicionTexto {
    width: 100%;
    min-height: 55vh;
    border: 1px #ccc solid;
}

.areaEdicion {
    min-height: 60vh;
    min-width: 90% !important;
}

.inside {
    left: 53%;
    color: white;
    font-size: 10px;
    top: 40%;
    position: absolute;
}


/*Mediano*/

@media screen and (max-width:1024px) {
    .areaEdicion {
        min-height: 60vh !important;
        width: 85% !important;
    }
}

/*Movil*/

@media screen and (max-width:640px) {
    .imgView {
        max-height: 75vh !important;
    }
    .areaEdicionTexto {
        min-height: 45vh !important;
    }
    .areaEdicion {
        min-height: 60vh !important;
        width: 100% !important;
    }
}

.moreOptions span:hover {
    background-color: #aaa;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 1px;
}

.moreOptions {
    position: absolute;
    right: 0;
    top: -10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: white;
    padding: 4px;
    border-radius: 2px;
}

.subOption {
    padding: 5px;
    border-radius: 2px;
}

.dragZone {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    background: rgba(0, 0, 0, 0.83);
}

.dragHere {
    width: 60%;
    height: 50%;
    border: dashed #fffcb7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dragHereOn {
    border: dashed #4eff00;
    display: flex;
    align-items: center;
    justify-content: center;
}
