<div class="ventana inline sombra2 aCentro">
    <div class="title">Sistema de Archivos</div>
    <div class="fullPadding aIzq">
        <div class="">Subir Archivo (Max 100MB)</div>
        <form name="upload_form" class="formFile">
            <input type="file" ngf-select ng-model="file" name="file" ngf-max-size="100MB" />
            <button type="submit" ng-click="submit()">Subir Archivo</button>
            <span>{{(file.size?"Tamaño: "+(file.size/1024/1024).toFixed(1)+"MB":message)}}</span>
        </form>

        <br>
        <h2>Sistema de Archivos</h2>

        <div class="flexFila jcSBet">
            <button ng-click="mostrarDirectorios()">Mostrar Archivos</button>
            <button ng-click="preMKDir()">Crear Carpeta</button>
        </div>
        <br>
        <div class="fullPadding marginArriba sombra1">
            Ruta: <i class="fa fa-cloud nube paddinIzq" ng-click="mostrarDirectorios()"></i> <i class="fa fa-caret-right"></i>
            <div class="inline ruta" ng-repeat="r in URLs">
                <span ng-click="urlDirecta(r)" class="itemUrl"> {{r.nombreFolder}}</span>
                <i class="fa fa-caret-right"></i></div>
        </div>

        <div class="fullmargin flexColumna">
            <div ng-repeat="c in carpetaActual.nombresFoldersAMostrar" ng-class="c.index%2==0?'bgBlanco':''" class="item paddinIzq" ng-click="getFilesNameFromFolder(carpetaActual.urlActual+'/'+c.nombre)">
                <i class="fa fa-circle f10"></i>
                <i class="fa fa-folder marginIzq carpeta"></i> <span class="marginIzq">{{c.nombre}}</span>
            </div>
            <div ng-repeat="a in carpetaActual.nombresArchivosAMostrar" ng-class="a.index%2==0?'bgBlanco':''" class="item paddinIzq">
                <div class="flexFila">
                    <i class="fa fa-circle f10"></i>
                    <i class="fa marginIzq archivo" ng-class="'fa-'+a.icon"></i>
                    <div class="flexFila jcSBet fg1">
                        <span class="marginIzq">{{a.nombre}}</span>
                        <div>
                            <span class="paddingIzq noWBreak">{{a.size}}MB</span>
                        </div>
                    </div>
                    <div ng-show="a.ext=='mp3'" class="flexFila fNoWrap">
                        <i class="fa fa-play f14 paddingIzqDer8 pointer" ng-show="audio.currentTrack!=a.nombre || audio.paused" title="Reproducir" ng-click="player(a.nombre,'play')"></i>
                        <i class="fa fa-pause f14 paddingIzqDer8 pointer" ng-show="audio.currentTrack==a.nombre && !audio.paused" title="Pausar" ng-click="player(a.nombre,'pause')"></i>
                        <i class="fa fa-stop f14 paddingIzqDer8 pointer" ng-show="audio.currentTrack==a.nombre" title="Parar" ng-click="player(a.nombre,'stop')"></i>
                        <i class="fa fa-download f14 paddingDer pointer" title="Descargar" ng-click='openFile(a.nombre)'></i>
<!--                        <i class="fa fa-eye f14 paddingIzqDer8 pointer" title="Ver" ng-click="seeFile(a.nombre)"></i>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
