<div class="ventana inline sombra2 aCentro">
    <div class="title">Sistema de Archivos</div>
    <div class="fullPadding aIzq">
        <div class="paddingDer marginArriba sombra1 aDer flexFila jcSBet">
            <div class="inlineFlex">
                <div class="marginDer"><span ng-click="preGetYT()" title="Descargar audio de Youtube Video" class="pointer relative fullPaddingMini"><i class="fa fa-youtube absolute paddingIzq"></i><i class="fa fa-headphones f10 absolute paddingArriba5"></i></span></div>
                <div style="padding-left: 25px;"><span ng-click="preGetListYT()" title="Descargar Lista reproducción de Youtube Video" class="pointer relative fullPaddingMini"><i class="fa fa-youtube absolute paddingIzq"></i><i class="fa fa-list f10 absolute paddingArriba5"></i></span></div>
            </div>
            <form name="upload_form" class="formFile">
                <label for="file" title="Subir Archivos" class="pointer"><i class="fa fa-upload f16" ></i></label>
                <input id="file" style="display: none" type="file" ngf-select ng-model="file" name="file" ngf-max-size="100MB" ng-change="subirArchivos()" multiple/>

                <label for="folder" title="Subir Carpeta" class="pointer paddingIzq relative hideOnMovil"><i class="fa fa-folder"></i><i class="fa fa-arrow-circle-o-up inside "></i></label>
                <input id="folder" style="display: none" type="file" ngf-select ng-model="folder" name="file" ngf-max-size="100MB" ng-change="subirCarpeta()" webkitdirectory multiple />

                <span ng-click="preMKDir()" title="Crear Carpeta" class="pointer paddingIzq relative"><i class="fa fa-folder"></i><i class="fa fa-plus inside"></i></span>
                <span ng-click="preMKText()" title="Crear Archivo Texto" class="pointer paddingIzq"><i class="fa fa-pencil-square-o"></i></span>
            </form>
        </div>
        <div class="sombra3 fullPaddingMini flexFila aiCenter">
            <span class="f12">Ruta: </span><i class="fa fa-cloud nube" ng-click="mostrarDirectorios()"></i> <i class="fa fa-caret-right"></i>
            <div class="inline" ng-repeat="r in URLs">
                <span ng-click="urlDirecta(r)" class="itemUrl"> {{r.nombreFolder}}</span>
                <i class="fa fa-caret-right" style="margin-left: -5px;"></i>
            </div>
        </div>

        <div class="fullmargin flexColumna">
            <div ng-repeat="c in carpetaActual.nombresFoldersAMostrar" ng-class="c.index%2==0?'bgBlanco':''" class="item paddinIzq" ng-click="getFilesNameFromFolder(carpetaActual.urlActual+'/'+c.nombre)">
                <div class="flexFila relative">
                    <i class="fa fa-folder marginIzq carpeta"></i>
                    <div class="flexFila jcSBet fg1">
                        <span class="marginIzq">{{c.nombre}}</span>
                    </div>
                    <span class="pointer flexFila paddingDer paddingIzq aiCenter" ng-click='openSubOptions(c,$event)'><i class="fa fa-ellipsis-v f16" ></i></span>
                    <div ng-if="c.subOption" class="inlineFlex flexColumna moreOptions">
                        <span ng-click='preRenameFolder(c,$event)' title="Renombrar"><i class="fa fa-retweet f14 pointer subOption" ></i>Renombrar&nbsp;</span>
                        <span ng-click='preBorrarCarpeta(c,$event)' title="Borrar"><i class="fa fa-trash f14 pointer subOption"></i>Borrar</span>
                    </div>

                </div>
            </div>
            <div ng-repeat="a in carpetaActual.nombresArchivosAMostrar" ng-class="a.index%2==0?'bgBlanco':''" class="item paddinIzq" ng-attr-title="{{(a.size/1024/1024).toFixed(2) +' MB'}}">
                <div class="flexFila relative">
                    <i class="fa marginIzq archivo" ng-class="'fa-'+a.icon"></i>
                    <div class="flexFila jcSBet fg1">
                        <span class="marginIzq">{{a.nombre}}</span>
                    </div>

                    <!--Mp3-->
                    <div ng-show="a.ext=='mp3'||a.ext=='ogg'" class="flexFila fNoWrap">
                        <i class="fa fa-play f14 paddingDer5 paddingIzq5 pointer" ng-show="audio.currentTrack!=a.nombre || audio.paused" title="Reproducir" ng-click="player(a.nombre,'play')"></i>
                        <i class="fa fa-pause f14 paddingDer5 paddingIzq5 pointer" ng-show="audio.currentTrack==a.nombre && !audio.paused" title="Pausar" ng-click="player(a.nombre,'pause')"></i>
                        <i class="fa fa-stop f14 paddingDer5 paddingIzq5 pointer" ng-show="audio.currentTrack==a.nombre" title="Parar" ng-click="player(a.nombre,'stop')"></i>
                    </div>

                    <!--Imágenes-->
                    <i ng-show="a.ext=='jpg'||a.ext=='png'||a.ext=='gif'" class="fa fa-eye f14 paddingIzqDer8 pointer" title="Ver" ng-click="abrirImagen(a.nombre)"></i>

                    <!--Texto-->
                    <i ng-show="a.ext=='txt'||a.ext=='html'||a.ext=='php'||a.ext=='js'" class="fa fa-pencil f14 paddingDer5 paddingIzq5 pointer" title="Ver/Editar" ng-click="abrirTexto(a)"></i>
                    <i ng-show="a.ext=='avi'" class="fa fa-gavel paddingDer5 paddingIzq5 pointer" title="Convertir a MP4" ng-click="convertToMp4(a)"></i>

                    <!--Video Mp4-->
                    <i ng-show="a.ext=='mp4' && a.playingVideo===false" class="fa fa-play-circle f14 paddingDer5 paddingIzq5 pointer" title="Reproducir" ng-click='playVideo(a)'></i>
                    <i ng-show="a.ext=='mp4' && a.playingVideo===true" class="fa fa-stop-circle f14 paddingDer5 paddingIzq5 pointer" title="Parar Video" ng-click='stopVideo(a)'></i>

                    <!--Descargar-->
                    <i class="fa fa-download f14 paddingIzq paddingIzqDer8 pointer" title="Descargar" ng-click='openFile(a)'></i>
                    <!--Borrar y Renombrar-->
                    <i class="fa fa-ellipsis-v f14 paddingDer5 paddingIzq5 pointer" ng-click='openSubOptions(a)'></i>
                    <div ng-if="a.subOption" class="inlineFlex flexColumna moreOptions">
                        <span ng-click='preRenameFile(a)' title="Renombrar"><i class="fa fa-retweet f14 pointer subOption" ></i>Renombrar&nbsp;</span>
                        <span ng-click='preBorrarArchivo(a)' title="Borrar"><i class="fa fa-trash f14 pointer subOption"></i>Borrar</span>
                    </div>
                </div>
            </div>
            <videogular ng-if="playingVideo" vg-theme="config.theme.url">
                <vg-media vg-src="config.sources" vg-tracks="config.tracks" vg-native-controls="true">
                </vg-media>
            </videogular>
            {{progressf}}
        </div>
    </div>
</div>
<div ng-show="dragZone" class='dragZone' drag-layer>
    <div class="dragHere" my-Dir><span>Suelta tus archivos aquí</span></div>
</div>
