<div class="ventana inline sombra2">
    <div class="title">PAN 2</div>
    <div class="contenido">
        <div class="formContainer maxH100pc ofAuto">
            <form>
                <div class="botones">
                    <button type="button" class="bgOpaco" ng-click="restablecerRevision()"> <i class="fa fa-trash"></i> Botón 1</button>
                    <button type="button" class="bgCeleste" ng-click="guardarRevision()"><i class="fa fa-check"></i> Botón 2</button>
                </div>
            </form>
        </div>
    </div>
</div>
