<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pablo Navarro.biz</title>
    <meta name="description" content="Integración de sistemas de Pablo Navarro.biz">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="img/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/globales.css">
    <link rel="stylesheet" href="css/subpages.css">
    <link href="css/css-circular-prog-bar.css" rel="stylesheet" />
</head>

<body ng-app="app" ng-controller="mainController" ng-click="asd()">
    <input type="checkbox" id="chkShowMenu" checked>
    <label id="bgOcultarMenu" for="chkShowMenu" title="Ocultar Menú"></label>
    <nav id="navid" style="display: none">
        <div class="encabezado">
            <img src="img/logo.png" alt="LOGO"> <span class="paddingIzq">Pablonavarro.biz</span>
            <!--  -->
        </div>
        <div class="ofAuto">
            <a href="#!"><i class="fa fa-home" title="Inicio"></i> <span>Inicio</span></a>
            <a href="#!presentacion" title="Presentación"><i class="fa fa-user"></i> <span>Presentación</span></a>
            <a href="#!archivos" title="Archivos"><i class="fa fa-folder-open"></i> <span>Archivos</span></a>
            <a href="#!chat" title="Chat"><i class="fa fa-comments"></i> <span>Chat</span></a>
            <a href="http://www.blog.pablonavarro.biz" target="_blank" title="Blog"><i class="fa fa-bold"></i> <span>Blog</span></a>
            <a href="#!pan2" title="Pan2"><i class="fa fa-coffee"></i> <span>Pan2</span></a>
            <a href="#!notas" title="Notas"><i class="fa fa-bar-chart"></i> <span>Notas</span></a>
            <a href="#!linkstore" title="Link Store"><i class="fa fa-link"></i> <span>Link Store</span></a>
            <a href="#!bienesraices" title="Bienes Raíces"><i class="fa fa-building"></i> <span>Bienes Raíces</span></a>
            <a href="#!audioStreamer" title="Gestor de descargas de audio"><i class="fa fa-download"></i> <span>Audio Stream</span></a>
        </div>
    </nav>

    <div id="body" style="display: none">
        <header ng-if="sesionIniciada">
            <div id="topTools" class="tools">
                <div class="fShrink1 tofEllipsis">
                    <label for="chkShowMenu" title="Mostrar/Ocultar Menú">
                       <div class="inline pointer fullPadding paddingDer5"><i class="fa fa-bars f28"></i></div>
                    </label>
                    <span class="f20 marginIzq" title="Nombre del panel actual">{{nombrePanelActual}}</span>
                </div>
                &nbsp;
                <div class="wSpaceNoWrap">
                    <div class="relative pointer user"><span><i class="fa fa-user" aria-hidden="true"></i> {{infoSesion.username}} </span>
                        <ul class="absolute pR0">
                            <li class="wSpaceNoWrap f20 fullPaddingMini" href="" ng-click="preCambiarPass()"><i class="fa fa-cog" aria-hidden="true"></i><span> Actualizar Datos</span></li>
                            <li class="wSpaceNoWrap f20 fullPaddingMini" href="" ng-click="cerrarSesion()"><i class="fa fa-sign-out" aria-hidden="true"></i><span> Cerrar Sesión</span></li>
                        </ul>
                    </div>
                    <a ng-if="sesionIniciada" href="#!"><i class="fa fa-home pointer"></i></a>
                    <div ng-click="fullScreen()" class="pointer"><i class="fa fa-arrows-alt" title="Pantalla completa"></i></div>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="popup" ng-include="popupUrl"></div>
            <div class="view">
                <ui-view lauch-drag-zone></ui-view>
            </div>

            <!-- alerts, prompt y confirm personalizados -->
            <div class="alertContainer">
                <div class="alert" ng-click="a.ocultarAlerta()" ng-class="a.classAlert" ng-repeat="a in listaAlerts">
                    <div><i class="fa fa-info-circle" aria-hidden="true"></i> {{a.texto}} </div>
                </div>
                <div class="bar" ng-click="b.ocultarAlerta()" ng-class="b.classAlert" ng-repeat="b in bars">
                    <div class="msj">{{b.texto}} </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:{{b.progress+'%'}}">
                            {{b.progress}}%
                        </div>
                    </div>
                </div>

            </div>
            <div class="spinerContainer" ng-show="requestCount > 0">
                <i class="fa f35 fa-spinner fa-spin" aria-hidden="true"></i>
            </div>
            <div class="alertContainer" ng-if="progressing==true">
                <div class="progress-circle" ng-class="classProgress">
                    <span>{{progreso}}%</span>
                    <div class="left-half-clipper">
                        <div class="first50-bar"></div>
                        <div class="value-bar"></div>
                    </div>
                </div>
            </div>

        </div>
        <footer class="flexFila jcSBet" style=""><span>Base para Sistemas <!-- pablonavarro.biz -->
           &copy;<script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            <a href="https://www.facebook.com/Pablo2101" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/pablo_nav21/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
        </span><span>{{fechaHora}}</span></footer>
    </div>
    <!-- --------------------------------------- -->
    <script src="js/FileSaver.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-ui-router.min.js"></script>
    <script src="js/angular/angular-cookies.js"></script>
    <script src="js/angular/ng-file-upload.min.js" type="text/javascript"></script>
    <script src="js/angular/ng-file-upload-shim.min.js" type="text/javascript"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/inicio.js"></script>
    <script src="js/controllers/archivos.js"></script>
    <script src="js/controllers/audioStreamer.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/appConfig.js"></script>
    <script src="js/appDirectivas.js"></script>
    <script src="js/videoangular.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/videoangular.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/funcionesPersonalizadas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

    <!-- Para Gráficos    -->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>-->
</body>

</html>
