<!-- Popup plantilla -->
<!--
<style>
    input {
        cursor: default
    }
</style>
-->
<div class="fondoPopup" ng-click="cargarPopup('')"></div>
<div class="ventana">
    <div class="title">Ver Imagen<span ng-click="cargarPopup('')">X</span></div>
    <div class="contenido">
        <div class="formContainer maxH100pc ofAuto">
            <div class="flexFila jcSAr fWrap contenido">
                <div>
                    <img class="imgView" ng-src="{{sa.currentImage}}" />
                </div>
                <!--
                    <div>
                        <div>
                            <span> Cantidad de defectos: </span>
                            <div>
                                <p>asd</p>
                            </div>
                        </div>
                    </div>
                    -->
            </div>
        </div>
    </div>
</div>
